* {
    margin : 0px;
    text-size-adjust:auto;

}

body {
    background-size : cover;
    background-repeat : no-repeat ;     
    background-position : center;
    background-size: auto 100%;
    background-image:linear-gradient(to right, rgba(0,0,0, 1),
                rgba(255,255,255, 0.09)),url('/assets/images/bg01.jpg') ;

}

section {
    display : flex;
    flex-direction : column;
    height : 80vh;
    justify-content: center;
    color: white;
    margin : 20px;
}



#submit {
    background : rgb(0,204,153);
    color : white;
    border : 1px solid rgb(0,204,153);
    border-radius: 4px
}
#email {
    border-radius: 4px
}

footer {
    height : 20vh;
    /*border : 2px 2px 2px 2px solid black;*/
    display : flex;
    flex-direction : column;
    flex-grow :1;
    font-size: 10px;
    color : white;
    margin :20px;
}


div ul {
    display : flex;
    padding-inline-start: 10px;

}
div ul li {
    list-style : none;
    padding : 10px;
    justify-content : flex-start;

}

.fa-twitter, .fa-instagram, .fa-github ,.fa-envelope {  
  background: #000000;  
  color: white;  
}  

@media screen and (max-width:500px){
    html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
 
    #heading, #description {
        display : none;
    }

    #email {
        display : block;
        margin-bottom : 20px;
        width : 80vw;
    }

    #submit {
        width : 80vw;
    }

}



